<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>web store</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="Keywords" content="HTML,CSS,JavaScript,SQL,Bootstrap,Java,Spring,Spring example,Spring example,
    Spring Thymeleaf,Thymeleaf,Thymeleaf example,Postgres Spring,Web development,primer,lessons,examples,source code"/>
    <meta name="Description" content="Test web application for technologies learning"/>

    <link rel="stylesheet"
          type="text/css"
          th:href="@{/resources/css/bootstrap.css}" />
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/resources/css/custom.css}" />
</head>
<body>
<header>
    <div id="header" class="header" th:include="page :: header"></div>
</header>

<div id="content" class="container">
    <div style="display:flex;justify-content:center;align-items:center;">
        <div class="form-signin">
            <h2 class="text-center">Log in to your account</h2>
            <div class="hide">
            <!--<form th:object="${authorizeUser}" method="POST" >-->
                <!--<div class="errors" th:if="${#fields.hasErrors('*')}">-->
                    <!--<ul class="lists" style="list-style-type:none">-->
                        <!--<li th:each="err : ${#fields.errors('*')}"-->
                            <!--th:text="${err}">Input is incorrect</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<ul class="lists" style="list-style-type:none">-->
                    <!--<li>-->
                        <!--<label th:class="${#fields.hasErrors('username')}? 'error'">Username</label>:-->
                        <!--<input type="text" th:field="*{username}"-->
                               <!--th:class="${#fields.hasErrors('username')}? 'error'" />-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<label th:class="${#fields.hasErrors('password')}? 'error'">Password</label>:-->
                        <!--<input type="text" th:field="*{password}"-->
                               <!--th:class="${#fields.hasErrors('password')}? 'error'" />-->
                    <!--</li>-->
                <!--</ul>-->
                <!--<ul>-->
                    <!--<center>-->
                        <!--<input type="submit" value="Log In" />-->
                    <!--</center>-->
                <!--</ul>-->
            <!--</form>--></div>
            <p th:if="${loginError}">Wrong user or password</p>
            <form th:action="@{/j_spring_security_check}" method="post">
                <label for="j_username" class="sr-only">Email address</label>
                <input class="form-control" placeholder="Email address" type="text" id="j_username" name="j_username" /> <br />
                <label for="j_password" class="sr-only">Password</label>
                <input class="form-control" placeholder="Password" type="password" id="j_password" name="j_password" /> <br />
                <button class="btn btn-lg btn-primary btn-block" type="submit" value="Log in" >Log in</button>
            </form>
        </div>
    </div>
</div>

<footer>
    <div id="footer" class="footer" th:include="page :: copy"></div>
</footer>
</body>
</html>
