<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!--xmlns:sec="http://www.springframework.org/security/tags"-->
<head>
    <title>web store</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="Keywords" content="HTML,CSS,JavaScript,SQL,Bootstrap,Java,Spring,Spring example,Spring example,
    Spring Thymeleaf,Thymeleaf,Thymeleaf example,Postgres Spring,Web development,primer,lessons,examples,source code"/>
    <meta name="Description" content="Test web application for technologies learning"/>

    <link rel="stylesheet"
        type="text/css"
        th:href="@{/resources/css/bootstrap.css}" />
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/resources/css/custom.css}" />
</head>
<body>
<header>
    <div id="header" class="header" th:include="page :: header"></div>
</header>

    <div id="content" class="container">
        <div class="col-md-2">
            <div class="left-bar">
                <div id="categories" th:include="leftPanel::categories"></div>
            </div>
        </div>
        <div class="col-md-10 ">
            <div class="row">
                <div class="descriptionMessage" th:include="message::description"></div>
            </div>
            <div class="row">
                <!--TODO: <<sec>>. reason: see fedorchuck.com.github.webstore.web.WebConfig: @Bean templateEngine-->
                <!--<sec:authorize access="isAuthenticated()">-->
                    <!--<p><sec:authentication property="principal.username" /></p>-->
                <!--</sec:authorize>-->

                <div class="text-center">
                    <a th:href="@{/goods/add}">add goods</a>
                    <br/>
                </div>

                <div th:if="${#httpServletRequest.remoteUser != null}">
                    check spring security.
                    <p th:text="${#httpServletRequest.remoteUser}">
                        sample_user
                    </p>
                </div>

            </div>
        </div>
    </div>
<footer>
    <div id="footer" class="footer" th:include="page :: copy"></div>
</footer>
</body>
</html>
