<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="utf-8"/>
  <title>web store</title>
  <link rel="stylesheet"
        type="text/css"
        th:href="@{/resources/css/style.css}" />
  <link rel="stylesheet"
        type="text/css"
        th:href="@{/resources/css/bootstrap.css}" />
</head>
<body>
<div id="header" th:include="page :: header"></div>
    <div class="left-bar col-md-2" id="categories" th:include="leftPanel::categories">

    </div>
    <div class="container col-md-10 text-center">
        <a th:href="@{/goods/add}">add goods</a> <br/>

    </div>
<footer>
<div id="" class="footer text-center" th:include="page :: copy"></div>
    </footer>
</body>
</html>
