<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="categories">
    <div class="row">
        <div class="text-left text-uppercase">
            <h3>
                <a th:href="@{/goods/all}">catalog</a>
            </h3>
        </div>
        <hr />
    </div>
    <div class="row">
        <div class="text-left text-lowercase" th:each="category : ${categories}">
            <h4>
                <a th:text="${category.name}"
                   th:href="@{/goods/forCategory/}+${category.name}" > *name* </a>
            </h4>
            <hr />
        </div>
    </div>
</div>
</body>

</html>