<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="description">
    <div class="row">
        <span>
            <h5>
                This is a test application for technologies learning. It has some functions and test data. Here are used
                following technologies: Java, Spring, Thymeleaf, Postgres.. Source code you can find
                <a href="https://github.com/fedorchuck/web-store#web-store">here</a>, and license is
                <a href="http://www.gnu.org/licenses/gpl-3.0.en.html"> here</a>.
            </h5>
        </span>
    </div>
</div>
</body>

</html>