<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center text-uppercase">
                    <a th:href="@{/}"><h2>web store</h2></a>
                </div>
                <div class="col-md-7 search-panel text-center">
                    <form method="POST" th:object="${searchRequest}" action="searchRequest" >
                        <label>
                            <input type="text" th:field="*{name}"/>
                        </label>
                        <input type="submit" value="find" th:value="find" />
                    </form>
                </div>

                <div class="col-md-2 user-control">
                    <div class="row">
                        <div class="text-lowercase text-center">
                            <a th:href="@{/user/authorize}">Log in</a>
                            <span>or</span>
                            <a th:href="@{/user/register}">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </div>

    <!--<div>Content goes here</div>-->

    <div th:fragment="copy">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h5>
                        &copy; 2016
                        <a href="https://github.com/fedorchuck"> Volodymyr Fedorchuk </a>
                        <a href="http://www.gnu.org/licenses/gpl-3.0.en.html"> License </a>
                        <a href="https://github.com/fedorchuck/web-store#web-store"> Source </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>

</body>

</html>