<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>web store</title>
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
</head>
<body>
  <div id="header" th:include="page :: header"></div>

  <div id="content">
      <h1>Your Profile</h1>
      <span th:text="${user.username}">username</span><br/>
      <span th:text="${user.firstName}">first</span> <span th:text="${user.lastName}">last</span><br/>
      <span th:text="${user.email}">email</span>
  </div>
  <div id="footer" class="text-center" th:include="page :: copy"></div>
</body>
</html>

