<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>web store</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="Keywords" content="HTML,CSS,JavaScript,SQL,Bootstrap,Java,Spring,Spring example,Spring example,
    Spring Thymeleaf,Thymeleaf,Thymeleaf example,Postgres Spring,Web development,primer,lessons,examples,source code"/>
    <meta name="Description" content="Test web application for technologies learning"/>

    <link rel="stylesheet"
          type="text/css"
          th:href="@{/resources/css/bootstrap.css}" />
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/resources/css/style.css}" />
</head>
<body>
<div id="header" th:include="page :: header"></div>
<div id="content" class="container">
    <h1>Register</h1>
    <form method="POST" th:object="${user}" >
      <div class="errors" th:if="${#fields.hasErrors('*')}">
          <ul>
              <li th:each="err : ${#fields.errors('*')}"
                  th:text="${err}">Input is incorrect</li>
          </ul>
      </div>
      <ul>
          <li>
              <label th:class="${#fields.hasErrors('firstName')}?'error'">First Name</label>:
              <input type="text" th:field="*{firstName}" th:value="*{firstName}"
                      th:class="${#fields.hasErrors('firstName')}?'error'"/>
          </li>
      </ul>
      <ul>
          <li>
              <label th:class="${#fields.hasErrors('lastName')}?'error'">Last Name</label>:
              <input type="text" th:field="*{lastName}" th:class="${#fields.hasErrors('lastName')}?'error'" />
          </li>
      </ul>
      <ul>
          <li>
              <label th:class="${#fields.hasErrors('email')}?'error'">Email</label>:
              <input type="text" th:field="*{email}"
                     th:class="${#fields.hasErrors('email')}?'error'" />
          </li>
      </ul>
      <ul>
          <li>
              <label th:class="${#fields.hasErrors('username')}? 'error'">Username</label>:
              <input type="text" th:field="*{username}"
                     th:class="${#fields.hasErrors('username')}? 'error'" />
          </li>
      </ul>
      <ul>
          <li>
              <label th:class="${#fields.hasErrors('password')}? 'error'">Password</label>:
              <input type="text" th:field="*{password}"
                     th:class="${#fields.hasErrors('password')}? 'error'" />
          </li>
      </ul>
      <!--<ul>
          <li>
              <label th:class="${#fields.hasErrors('role')}? 'error'">
                  Role(0-admin; 1-customer; 2-logged users; 3-default user)</label>:
              <input type="text" th:field="*{role}"
                     th:class="${#fields.hasErrors('role')}? 'error'" />
          </li>
      </ul>-->
      <!--<form method="POST" th:object="${searchRequest}" >th:action="@{/role}" id="role" role="form" -->
          <!--<input type="hidden" th:field="*{id}"/>-->

      <div class="radio" th:each="item : ${radioItems}">
          <label>
              <input type="radio" name="role" th:value="${item.value}" th:text="${item.key}" th:field="*{role}">radio</input>
          </label>
      </div>

      <input type="submit" value="Register" />
    </form>
</div>

<footer>
    <div id="footer" class="footer" th:include="page :: copy"></div>
</footer>
</body>
</html>
